a {
    text-decoration: underline;
}

html {
    position: relative;
}

html:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';

    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

body:before {
    background-color: white;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: 0;
}

body > * {
    position: relative;
    z-index: 1;
}

@media print {
    .noprint {
        visibility: hidden;
    }

    .pagebreak {
        page-break-before: always;
        margin-bottom: 4rem;
    }

    body:before {
        display: none;
    }
}

article {
    font-size: 10pt;
}

article h1 {
    font-variant: small-caps;
    font-size: 1.2em;
}

article hr {
    margin: 0.2em 0;
    border-color: black;
}

article ul {
    margin-left: 1em;
    list-style: disc;
}

article a {
    color: #0284c7;
    text-decoration: underline;
}

article a:visited {
    color: #0ea5e9;
    text-decoration: underline;
}